.card {
  position: relative;
  border: none;
  overflow: hidden;
  &-image {
    position: relative;
    overflow: hidden;
    border: rem(1px) solid $secondary;
    border-radius: rem(12px);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
     background: rgb(73, 80, 87);
        background: linear-gradient(
          0deg,
          rgba(73, 80, 87, 1) 0%,
          rgba(255, 255, 255, 0) 61%
        );
    }
    
    img {
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: all 0.25s ease;
    }
    &.portrait {
      height: rem(400px);
    }
    &.no-overlay {
      &::after {
        display: none;
      }
    }
    &.gray-gredient {
      &::after {
        background: rgb(73, 80, 87);
        background: linear-gradient(
          0deg,
          rgba(73, 80, 87, 1) 0%,
          rgba(255, 255, 255, 0) 61%
        );
      }
    }
  }
  &-body {
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      h6,
      p {
        color: #fff;
      }
    }
  }
  .btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &:hover {
    .card-image {
      img {
        transform: scale(1.1);
      }
    }
  }
}
