.spacing {
  margin-bottom: rem(80px);
  &--padding {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
    &-40 {
      padding-top: rem(40px);
      padding-bottom: rem(40px);
    }
  }
}
.section-title {
  margin-bottom: rem(40px);
}
.shadow-top {
  box-shadow: 0 rem(-10px) rem(30px) #d9f0ff;
}
ul {
  &.list-inline {
    li {
      display: inline-block;
    }
  }
  &.list {
    &.has-icon {
      li {
        margin-bottom: 10px;
        position: relative;
        font-size: 18px;
        padding-left: 30px;
        a {
          font-size: 16px;
        }
        i {
          position: absolute;
          left: 0;
          top: 3px;
          color: $secondary;
        }
      }
    }
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-primary * {
  color: #fff;
}

.alt-title {
  font-style: italic;
  margin-bottom: rem(80px);
  font-weight: normal;
  span {
    display: inline-block;
    width: rem(30px);
    position: relative;
    top: rem(-25px);
    left: rem(-14px);
  }
}

.discover {
  &.owl-carousel {
    width: auto;
    margin-left: rem(25px);
    margin-right: rem(25px);
  }
}

.link-arrow {
  img {
    transition: all 0.25s ease;
  }
  &:hover {
    img {
      transform: translateY(10px);
    }
  }
}

.has-overlay {
  position: relative;
  .container {
    z-index: 2;
    position: relative;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($primary, 0.9);
    z-index: 1;
  }
}
