.footer {
  padding: rem(40px) 0 0;
  background-color: #26263a !important;
  &-widget {
    ul {
      li {
        margin-bottom: rem(10px);
        a {
          transition: all 0.25s ease;
          position: relative;
          display: inline-block;
          &:after {
            content: "";
            width: 0;
            display: block;
            height: rem(1px);
            background-color: $secondary;
            transition: all 0.25s ease;
          }
          &:hover {
            color: $secondary;
            &:after {
              background-color: $secondary;
              width: 100%;
            }
          }
        }
      }
    }
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }
  &-bottom {
    background-color: #171b30 !important;
    margin-top: rem(30px);
    padding: rem(30px);
    background-color: darken($primary, 10%);
    .footer-logo {
      img {
        width: rem(200px);
      }
    }
  }
}
