.header {
  &-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
  .navbar {
    $this: &;
    padding: rem(20px) 0;
    transition: $transition-default;
    &-brand {
      width: rem(120px);
      display: block;
      transition: $transition-default;
      @include media-breakpoint-up(lg) {
        width: rem(160px);
      }
    }
    .btn {
      transition: $transition-default;
    }
    &-collapse {
      order: 3;
    }
    &-nav {
      .nav-item {
        margin-right: rem(25px);
        a,
        .nav-link {
          padding: rem(10px) rem(15px);
          transition: all 0.25s ease;
          position: relative;
          @include media-breakpoint-up(lg) {
            padding-left: 0;
            padding-right: 0;
            line-height: 0.4;
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $secondary;
            transition: all 0.25s ease;
          }
          &:hover {
            color: $secondary;
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
    &-nav-secondary {
      order: 1;
      @include media-breakpoint-up(lg) {
        order: 3;
      }
      > ul {
        display: flex;
        margin-bottom: 0;
        > li {
          padding: 0 rem(15px);
          .btn {
            @include media-breakpoint-down(md) {
              padding: rem(5px) rem(15px);
              font-size: rem(14px);
            }
          }
        }
      }
    }
    .navbar-toggler {
      order: 2;
      border: none;
    }
    &.sticky {
      background-color: #fff;
      padding: rem(10px) 0;
      .navbar-brand {
        width: rem(120px);
      }
      .btn {
        font-size: rem(14px);
      }
    }
  }
}
